@font-face  {
     font-family :  "over_there" ;
     src :  url( "/fonts/over_there.ttf" );
}


img.center-post {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: #000002;
  background: url(/img/poolside-fm-martini-picnic.png) !important;
  background-size: 340% !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

.title {
  overflow: hidden;
}

.mdcenter {
  text-align: center;
}

#projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

#projects .window {
  flex: 1 0 auto;
  margin: 0;
  gap: 1rem;

  margin: 0.5rem;
/*  margin-right: 0.5rem;*/
  width: 25%;
  min-width: 0px;
}

#scroller {
  flex-grow: 1;
}

.body {
  padding: 1em;
}

.layout {
  display: flex;
  justify-content: center;
  padding-bottom: 8em;
  flex-wrap: wrap;
}

.window-pane a:link:hover {
  color: #222;
  background-color: white;
  text-decoration-color: #222;
}

.window-pane a:link {
  color: #f2e5bc;
  background-color: #222;
  text-decoration-color: #f2e5bc;
}

.window-pane a:visited:hover {
  color: #222;
  background-color: white;
  text-decoration-color: #222;
}

.window-pane a:visited {
  color: #8a642d;
}


div.window-body {
  font-size: 14px;
}

/*h1 {
  font-size: 18px;
  color: black;
}*/

.sidebar_layout {
  display: flex;
  flex-flow: wrap;
  margin: 1%;
  margin-top: 1em;
}

.sidebar {
  margin: 0.2em;
  padding: 0;
  height: 100%;
  scrollbar-color: #3d3d3a #292927;
  position: relative;
  float: left;
/*  display: inline-block;*/
  display: flex;
  align-items: center;
}

.sidebar:first-of-type {
  margin-left: 0;
}

.sidebar_layout a {
  font-size: 15px;
  color: white;
  padding: 8px;
  text-decoration: none !important;
  text-align: left;
  font-weight: 700;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
}

#scroller marquee {
  font-family: 'Chicago', sans-serif;
}


.sidebar a {
  color: white;
}

.sidebar {
  height: 1.4em;  
}
 
div#menu {
  margin-top: 0.6em;
  flex-basis: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

#menu::-webkit-scrollbar {
  display: none;
/*  all:unset;*/
}

div#head {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #222;
  height: 2em;
}

div#subhead {
  justify-content: left;

  width: 100%;
  display: flex;
  align-items: center;
  background-color: #222;
  height: 1.4em;
  margin-top: 0.6em;
}

div.breaking {
  display: flex;
  flex-direction: column;
}

a#subtitle {
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  float: left;
  text-decoration: none;
}

a#title {
/*  color: #fc6a5d;*/
  color: #f2e5bc;
  font-size: 27px;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  float: left;
  text-decoration: none;
}

a#scroller {
  color: white;
  display: none;
}

.sidebar:hover:not(#title):not(.divider) {
  background-color: white;
}


.sidebar a:hover:not(#title):not(.divider) {
  color: #222;
}

.sidebar:not(#title):not(.divider) {
  background-color: #222
}

.sidebar.divider {
/*  margin-inline: 1em;*/
  background-color: #222;
}

.sidebar.divider a {
  cursor: default;
}

div.window-pane {
/*  all: initial !important;*/
  overflow-y: visible;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.footer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height : 300px ;

  background-repeat : no-repeat ;
  background-size: 160px;

  z-index: -99;
}

@media screen and (min-width: 600px) {

  a#subtitle {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    float: left;
    text-decoration: none;
  }

  a#scroller {
    display: block;
  }

  div#subhead {
    width: fit-content;
    justify-content: center;
  }

  body {
    background-size: 220% !important;
  }
}

@media screen and (min-width: 800px) {
  div.breaking {
    display: block;
    flex-direction: unset;
  }

  body {
    background-size: 120% !important;
  }
}
