.DS_Store
node_modules
docs
content/.obsidian/workspace
content/.obsidian/workspace.json
content/.trash
content/.obsidian/plugins/obsidian-git/obsidian_askpass.sh
content/.obsidian/plugins/obsidian-git/.git_credentials_input*
