@font-face  {
     font-family :  "over_there" ;
     src :  url( "/fonts/over_there.ttf" );
}


img.center-post {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: #000002;
  background: url(/img/poolside-fm-martini-picnic.png) !important;
  background-size: 120% !important;
  font-family: 'IBM Plex Sans', sans-serif;
}

.window {
  width: 80%;
}

.title {
  overflow: hidden;
}

.mdcenter {
  text-align: center;
}

.finder{
  margin-top: 80px;
  width: 72%;
}

#projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#projects .window {
  flex: 1 0 auto;
  margin: 0;
  gap: 1rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 25%;
  min-width: 0px;
}

#projects .window:first-of-type {
  margin-left: 0;
}

#projects .window:last-child {
  margin-right: 0;
}

#scroller {
  flex-grow: 1;
}

.body {
  padding: 1em;
}

.layout {
  display: flex;
  justify-content: center;
  padding-bottom: 8em;
  flex-wrap: wrap;
}

a:link {
  color: #fc6a5d;
}

div.window-body {
  font-size: 14px;
}

h1 {
  font-size: 18px;
  color: black;
}

.sidebar_layout {
  display: flex;
  flex-flow: wrap;
  margin: 1%;
  margin-top: 1em;
}

.sidebar {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  height: 100%;
  scrollbar-color: #3d3d3a #292927;
  position: relative;
  float: left;
  display: inline-block;
}

a {
  font-size: 15px;
  display: block;
  color: white;
  padding: 8px;
  text-decoration: none !important;
  text-align: left;
  font-weight: 700;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
}

#scroller marquee {
  font-family: 'Chicago', sans-serif;
}


.sidebar a {
  color: white;
}
 
div#menu {
  flex-basis: 100%;
}

div#head {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #222;
  height: 2em;
}

div#subhead {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: #222;
  height: 1.4em;
  margin-top: 0.6em;
}

a#subtitle {
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  float: left;
  text-decoration: none;
}

a#title {
  color: #fc6a5d;
  font-size: 27px;
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  float: left;
  text-decoration: none;
}

a#scroller {
  color: white;
}

.sidebar a:hover:not(#title):not(.divider) {
  color: #222;
  background-color: white;
}

.sidebar a:not(#title):not(.divider) {
  background-color: #222/*
}

.sidebar a.divider {
  cursor: default;
  font-size: 1.5em;
}

div.content {
  margin-right: 200px;
  padding: 1px 16px;
  height: 100%;
}

div.window { 
  border-radius: 10px;
  margin: 2em;
  margin-left: 8em;
  margin-right: 8em;
  min-width: 65%;

  font-family: 'IBM Plex Sans', sans-serif;

/*  overflow-y: visible;*/
}

div.window-pane {
  overflow-y: visible;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.footer {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height : 300px ;

  background-repeat : no-repeat ;
  background-size: 160px;

  z-index: -99;
}

@media screen and (max-width: 600px) {

  div#head {
    justify-content: center;
  }

  a#scroller {
    display: none;
  }

}

@media screen and (max-width: 700px) {
  .sidebar {
    cursor: grab;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 0%;
    text-align: center;
  }

  .sidebar a {
    display: inline-block;
    cursor: inherit;
  }

/*  div.content {margin-right: 0;}*/

  div.window {
/*    margin-right: 0;*/
    margin: 24px;
    margin-top: 48px;
  }

  .finder{
    width: 90%;
  }

}
