<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    {# <link rel="preconnect" href="https://fonts.googleapis.com"> #}
    {# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}
    {# <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&display=swap" rel="stylesheet"> #}

    <link rel="stylesheet" href="{{ '/css/code.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/system.css' | url }}">
    {# <link rel="stylesheet" href="https://unpkg.com/@sakun/system.css"> #}

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>

    <script type="text/javascript">
      
      function isElementOverflowing(element) {
        var h = element.clientHeight;

        var lh = parseFloat(getComputedStyle(element).lineHeight)

        return h >= lh;
      }

      function wrapContentsInMarquee(element) {
        var marquee = document.createElement('marquee'),
          contents = element.innerText;

        marquee.innerText = contents;
        element.innerHTML = '';
        element.appendChild(marquee);
      }

      document.addEventListener("DOMContentLoaded", function(e) {
        let titles = document.getElementsByClassName("title");

        for (let i = 0; i < titles.length; i++) {
          if (isElementOverflowing(titles[i])) {
            wrapContentsInMarquee(titles[i]);
          }
        }
      });

    </script>

    {% include "layouts/sidebar.njk" %}

    <div class="layout">

      {{ content | safe }}

    </div>

{#     <div class="layout">
      <script type='text/javascript' src='https://saucesaft.tumblr.com/js'></script>
    </div> #}

    <!-- Current page: {{ page.url | url }} -->
  </body>

  <div class="footer"></div>

</html>