---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="window">
  <div class="title-bar">
    <button aria-label="Close" class="close"></button>
    <h1 class="title"> {{ title }} </h1>
    <button aria-label="Resize" class="resize"></button>
  </div>
  <div class="separator"></div>

  <div class="window-pane">
    {{ content | wikimage | safe }}
  </div>
</div>

<div id="projects">
  
  {% for project in projects.list -%}
    <div class="window">
      <div class="title-bar">
        <button aria-label="Close" class="close"></button>
        <h1 class="title"> {{ project.title }} </h1>
        <button aria-label="Resize" class="resize"></button>
      </div>
      <div class="separator"></div>

      <img style="max-width:100%;" src={{ project.media }} />

      <div class="window-pane">
        {{ project.description }}
      </div>

    </div>
  {% endfor %}
</div>