<div class="finder screen" style="display: block; top: 131px; left: 85px;">
  <header class="header">
    <span class="title">
      <br-bold class="br-bold"> {{ title }} </br-bold>
    </span>
    <button class="close">x</button>
  </header>
  <div class="body">
    <div class="d-flex flex-wrap">
      {{ content | safe }}
    </div>
  </div>
</div>