<div class="sidebar_layout">

{# show the first phrase always on the home apge #}
{% if (title == "home") %}
    {% set phrase = phrases[0] %}
{% else %}
    {% set phrase = phrases | getRandom %}
{% endif %}

<div id="head">

    {# show the website title #}
    <a id="title" href="/">hair on the circuits</a>

    {# scroller with quotes #}
    <a id="scroller">
        <marquee loop="infinite" behavior="scroll" direction="left">
            {{ phrase }}
        </marquee>
    </a>
</div>

{# subtitle with my name #}
<div id="subhead">
    <a id="subtitle">a blog by eduardo hdz - saucesaft</a>
</div>

{# navigation menu #}
<div id="menu">
    <div class="breaking">

            {% for item in navigation.menu %}

                <div class="sidebar">
                    
                        <a href={{ item.url }}

                        {% if title == item.name %} id = "selected" {% endif %}
                        
                        > {{ item.name }} </a>
                    
                </div>

            {% endfor %}

    </div>

</div>

</div>