---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="window">
  <div class="title-bar">
    <button aria-label="Close" class="close"></button>
    <h1 class="title"> {{ title }} </h1>
    <button aria-label="Resize" class="resize"></button>
  </div>
  <div class="separator"></div>

  <div class="window-pane">
    {{ content | wikimage | safe }}
  </div>
</div>